

:root{
  --bg-color-transparent:#0000009d;
  --bg-color-transparent-white:#ffffff11;
  --text-color:#f8f8f8;
  --bg-dark:#222222;

  --text-color2:#888888;


  --text-shadow: 0 0 4px #000000d8;

 
  font-family: "Raleway", sans-serif !important;
    /* font-family: "Open Sans", sans-serif; */

}

p,h4,h1,h2,h3{
  margin-bottom: 0 !important;
}

li{list-style: none;}
body{
 
  /* min-height: 100vh; */
    background:linear-gradient(#0000004f, #000000a2) center /cover, black  url('/images/rain1.jpg') center / cover no-repeat  ;
    /* min-height: 100vh; */

    color: var(--text-color) !important;
    text-shadow:var(--text-shadow);

    transition: background 0.5s;
    min-height: 100vh;

   
   
}

nav{
  
    background: var(--bg-color-transparent);
  /* background-color: var(--bg-dark) !important; */
    justify-self: flex-start !important;
    height: 50px;

  
   
  }



div.form-control{
  box-shadow: none !important;
  color: var(--text-color) !important;
 
}
input[type='search']{
  background-color: var(--bg-color-transparent-white);
  color: var(--text-color) !important;
  padding: 4px; border-radius: 5px;
}
input[type='search']::placeholder{
  color: var(--text-color) !important;

}
input[type='search']:focus{
  box-shadow: none !important;
  border: none !important;
}

#listData{
  top: 32px;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: var(--bg-dark);
  
  
  border-radius: 8px;
  padding: 0;

}
li{
  padding: 5px;
}
li:hover{
  background-color: var(--bg-color-transparent-white);
}

/* end of the nav */


/* start of the header  */
div.card *{
  /* border: red 1px solid; */
}

div.card1{
    background-color: var(--bg-color-transparent);
    
    color: inherit;
    backdrop-filter: blur(2px);

    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows: repeat(3,200px); */
   
  }

  
div.location{
  grid-column: 1/-1;
}
div.condition{
  grid-column: 1/-1;
  /* grid-row: 2/4; */
}

div.times{
  grid-column: 1/-1;
}
div.location>p:first-of-type{
      font-size: 55px;
      font-weight: 400;
      text-transform: uppercase;
    }
div.location div.time p{
  font-size: 17px !important;
  font-weight: 400px;
  letter-spacing: 1.5px;
}

div.condition{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

div.condition p{
  font-size: 55px !important;
}
img#icon{
  /* width: 50px; */
}

 div.temp{
  align-self: flex-start;
 }

 div.temp #temp{
  font-size: 65px ;
 }

 div.info{
  border: 1px solid var(--bg-color-transparent-white);
  background-color: var(--bg-color-transparent-white);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  
 }
 div.info>div{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 5px;
 }
div.info>div>span{
  font-weight: 300;
  font-size: 15px;
}
div.info i{
  font-size: 18px;
}


 div.info p{
  text-align: end;
  font-size: 19px;
  font-weight: 300;
 }

/* start of days */
svg {
  width: 100%;
  min-width: 500px !important;
  overflow-x: auto;
  position: relative;
}
svg circle{
  transform-box: fill-box;
  transform-origin: center center;
  transition: transform 0.2s;
}
svg  circle:hover{
  transform: scale(1.4);
}

/* next day  */

div.next-days {
  border: var(--bg-color-transparent-white) solid 1px;
  background-color: var(--bg-color-transparent-white);
  border-radius: 8px;
  height: 200px;

  grid-column: 1/-1;
  padding: 0 !important;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  /* padding-left: 20px; */
}

span.small-info {
  color: var(--text-color2);
  font-size: 13px;
  font-weight: 300;
  text-transform: capitalize;
}


div.previous-day-btn,
div.next-day-btn {
  position: sticky;
  top: 14%;
  left: 30px;
  z-index: 15;
  width: fit-content;


}



 /* start of the hour */
div.times {
display: flex;
width: 100%;
overflow-x: scroll;
background: var(--bg-color-transparent-white);
/* padding: 3px; */
border-radius: 8px;
  border: 1px solid var(--bg-color-transparent-white);
}

div.times * {
/* border: lightpink 1px solid; */
}

div.times div.time {
display: flex;
flex-direction: column-reverse;
justify-content: center;
align-items: center;
width: 50px;
font-size: 12px;
padding:0;
padding-top: 25px;
padding-bottom: 10px;
}
.sun-change{
  /* border-left: 1px solid var(--bg-color-transparent-white); */
}
.sun-change::after{
  content: attr(sun);
  position: absolute;
  bottom: 84%;
  left: 2px;
  border-top: 1px solid var(--text-color);  
  width: max-content;
 
}


div.times div.time.active{
  background-color: var(--bg-color-transparent);
  padding: 3px 5px;
  border-radius: 5px;
}
 div.times div.time div.img {
   width: 35px;
 }

    div.times div.time div.img img{
      width: 100%;
    }

div.times div.time.active{
 
 
  
}
 div.times div.time.active div.img {

 }

 @media  screen and (min-width:762px) {

  div.card1 {
      
      grid-template-columns: repeat(4, 1fr);
      /* grid-template-rows: repeat(3,200px); */
  
    }
  div.next-days{
    /* grid-column: 2/-1;
    grid-row: 1/2; */
    overflow-x: hidden;
  }
  div.location {
      grid-column: 1/-1;
    }
  
    div.condition {
      grid-column: 1/3;
      grid-row: 2/4;

      
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
        
    }
  
    div.times {
      grid-column: 1/-1;
    }

  div.condition p{
    font-size: 85px !important;
    font-weight: 400;
    text-align: start;
  }
  div.condition>div{
    width: 100% !important  ;
    display: flex;
    align-items: center;
    width: 80px;
  }

  div.condition img{
width: auto;
  }
  
 }





















 /* dash */

 /* 
 div.rotary {
   position: relative;
   transform: translate(50%, 270px);

 }

 div.rotary div.time {

   height: fit-content;
   display: flex;

   width: fit-content;

   font-weight: 300;
   font-size: 12px;
   transform-origin: center bottom;
   position: absolute;





 }

 div.rotary div.time>div {
   display: flex;
   gap: 15px;
   flex-direction: row;
   align-items: center;
   width: 100px;
   height: 30px;

   color: #222222;
 }

 div.rotary div.time * {
   height: fit-content;

 }

 div.rotary div.time div.img {
   width: 35px;
 }

 div.rotary div.time div.img img {
   width: 100%;
 }
 */