
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --bg-color-transparent:#0000009d;
  --bg-color-transparent-white:#ffffff11;
  --text-color:#f8f8f8;
  --bg-dark:#222222;

  --main-color:#cc9c00;

  --text-color2:#888888;


  --text-shadow: 0 0 4px #000000d8;

 
  font-family: "Montserrat", sans-serif;

  scroll-padding-top: 55px;

}
*{
  /* border: 0.5px red solid; */
}


::placeholder{
  text-transform: capitalize;
  font-size: 15px;
}
a{
  text-decoration: none;
  display: block;
}

p,h4,h1,h2,h3{
  margin-bottom: 0 !important;
}

li{list-style: none;}

body::after{
  content: '';

  width: 300px;
  height: 500px;
  background: #00faed28;
  position: absolute;
  filter: blur(100px);
  top: 20%;
  left: 10%;
  border-radius: 100%;
  z-index: -555;
}
body::before {
  content: '';

  width: 200px;
  height: 300px;
  background: #b6038f6c;
  position: absolute;
  filter: blur(150px);
  bottom: 0%;
  right:0%;
  border-radius: 100%;
  z-index: -555;
}
body{
 
 
    z-index: 2;
    background: linear-gradient(#000013 60%, black 80%);
    /* background: 
    

    linear-gradient(transparent,rgba(0, 0, 0, 0.897)),
    
   

    
    linear-gradient(45deg,
    #007d8628,
    #3d3d3d2f),
    linear-gradient(-45deg
    ,#000000de,
    #00000069),

    radial-gradient(circle, #ffffff23 0%,
        transparent 10% 50%,
        #ffffff1c 50% 60%,
        #00000000 60%) center / 20px 20px,
    
    
    linear-gradient( -45deg, #0d013afd  , #001235 ,#002358,#004966,#006e8a ,#00ffff); */
    
   

    color: var(--text-color) !important;
    text-shadow:var(--text-shadow);

    /* transition: background 0.5s; */
    /* backdrop-filter: blur(10px); */
    min-height: 100vh;

   
   
}

h1{
  text-transform: capitalize;
  font-weight: 400;
}
nav{
  
    background: var(--bg-color-transparent);
  /* background-color: var(--bg-dark) !important; */
    justify-self: flex-start !important;
    height: 50px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 15px;
    position: sticky;
    top: 2px;
    z-index: 60 ;
    /* backdrop-filter: blur(15px); */
    border: 1px solid var(--bg-color-transparent-white);

  
   
  }

nav i {
  font-size: 25px;
}

/* nav menu */
nav ul{
  
  
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: absolute;
  top: 100%;
  left: 1px;
  right: 0px;
  background-color: var(--bg-color-transparent);
  backdrop-filter: blur(5px);
  z-index: 50;
  transform: scaleY(0);
  transform-origin: top center;
  padding: 5px;
  border-radius: 8px;
  margin: 0;
}

.active {
  transform: scaleY(1) !important;
}
nav ul li{


  text-align: center;
  font-size: 15px;
}

nav ul li a{
  color: var(--text-color) !important;
  font-weight: 300;
  text-transform: capitalize;
}


/* end of the nav */








/* end of the nav */


/* start of the header  */
div.card *{
  /* border: red 1px solid; */
}

div.card1{
    background-color: var(--bg-color-transparent);
    
    color: inherit;
    backdrop-filter: blur(2px);

    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    border: 1px solid var(--bg-color-transparent-white);
   
  }
  

  div.find{
    grid-column: 1/-1;
  }


div.find {
  box-shadow: none !important;
  color: var(--text-color) !important;
  width:100% ;
  margin: 0;
  border: 1px solid var(--bg-color-transparent-white);

}

input[type='search'] {
  background: var(--bg-color-transparent-white) !important;
    color: var(--text-color);
    border: none;
    padding: 8px 4px;
    padding-left: 8px;
    border-radius: 25px;
    border: transparent 1px solid;
    width: 100%;
}

/* input[type='search']::placeholder {
  color: var(--text-color) !important;

} */

/* input:focus {
  box-shadow: none !important;
  border: 1px solid var(--main-color);
} */



ul#cities-list {
  top: 32px;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--bg-color-transparent);
  backdrop-filter: blur(75px);
  /* border: 1px solid var(--bg-color-transparent-white); */


  border-radius: 8px;
  padding: 0;
 

}

ul#cities-list li {
  padding: 5px;
}

ul#cities-list li:hover {
  background-color: var(--bg-color-transparent-white);
}

  
div.location{
  grid-column: 1/-1;
}
div.condition{
  grid-column: 1/-1;
  /* grid-row: 2/4; */
}

div.times{
  grid-column: 1/-1;
}
div.location>p:first-of-type{
      font-size: 35px;
      font-weight: 400;
      text-transform: uppercase;
    }
div.location div.time p{
  font-size: 17px !important;
  font-weight: 400px;
  letter-spacing: 1.5px;
}

div.condition{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

div.condition p{
  font-size: 55px !important;
}
div.condition div.image{
  width: fit-content;
}

 div.temp{
  align-self: flex-start;
 }

 div.temp #temp{
  font-size: 65px ;
 }

 div.info{
  border: 1px solid var(--bg-color-transparent-white);
  background-color: var(--bg-color-transparent-white);
  border-radius: 8px;
  padding: 15px;
 

  
 }
 div.info>div{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 5px;
 }
div.info>div>span{
  font-weight: 300;
  font-size: 15px;
}
div.info i{
  font-size: 18px;
}


 div.info p{
  text-align: end;
  font-size: 19px;
  font-weight: 300;
 }

/* start of days */
svg {
  width: 100%;
  min-width: 300px !important;
  overflow-x: auto;
  position: relative;
  height: 100%;
}
svg circle{
  transform-box: fill-box !important;
  transform-origin: center center;
  transition: transform 0.2s;
 
}
svg  circle:hover{
  transform: scale(1.4);
}

/* next day  */

div.next-days {
  border: var(--bg-color-transparent-white) solid 1px;
  background-color: var(--bg-color-transparent-white);
  border-radius: 8px;
  height: 100%;

  grid-column: 1/-1;
  padding: 0 !important;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  /* padding-left: 20px; */
}

span.small-info {
  color: var(--text-color2);
  font-size: 13px;
  font-weight: 300;
  text-transform: capitalize;
  z-index: 42;
  

 
}

div.next-days>span{
position: absolute;
  top: 0;
  left: 30px;
  z-index: 15;
  width: fit-content;
}

div.next-day-btn {
  position: absolute;
  top: 0%;
  left: 120px;
  z-index: 8;
  width: fit-content;


}



 /* start of the hour */
div.times {
display: flex;
width: 100%;
overflow-x: scroll;
background: var(--bg-color-transparent-white);
/* padding: 3px; */
border-radius: 8px;
  border: 1px solid var(--bg-color-transparent-white);
}

div.times * {
/* border: lightpink 1px solid; */
}

div.times div.time {
display: flex;
flex-direction: column-reverse;
justify-content: center;
align-items: center;
width: 50px;
font-size: 12px;
padding:0;
padding-top: 25px;
padding-bottom: 10px;
}
.sun-change{
  border-left: 1px solid var(--bg-color-transparent-white);
  z-index: 40;
}
.sun-change::after{
  content: attr(sun);
  position: absolute;
  bottom: 84%;
  left: 2px;
  /* border-top: 5px solid var(--text-color);   */
  width: max-content;
  z-index: 35;
 
}


div.times div.time.active{
  background-color: var(--bg-color-transparent);
  padding: 3px 5px;
  border-radius: 5px;
}
 div.times div.time div.img {
   width: 35px;
 }

    div.times div.time div.img img{
      width: 100%;
    }
/* end of the header */

/* start of contact section */

section.contact{
  /* background-color: var(--bg-color-transparent); */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: none; */

  background: var(--bg-color-transparent);
  border: 1px solid var(--bg-color-transparent-white);
}


section.contact div.contact-us{
  max-width: 600px;
  margin: 30px 0;
}

section.contact div.contact-us h2{
    font-weight: 300;
    text-transform: capitalize;
  
}

section.contact div.contact-us p{
  margin-top: 15px;
  font-size: 14px;
  font-weight: 300;
}

section.contact div.contact-info{
  max-width: 600px;
  justify-content: center;
}

section.contact div.contact-info textarea{
    width: 100%;
    background: var(--bg-color-transparent-white) !important;
      color: var(--text-color);
      border: none;
      padding: 8px 4px;
      padding-left: 10px;
      border-radius: 25px;
      border: transparent 1px solid;  
      outline: none;
      min-height: 50px;
      max-height: 200px;
      overflow-y: auto;
      font-size: 14px;
      font-weight: 300;
}

section.contact div.contact-info textarea:focus{
  border: var(--main-color) 1px solid;

}
section.contact div.contact-info button{
  border: none;
  font-size: 18px;
  color: var(--text-color);
  background-color: var(--bg-color-transparent-white);
  padding: 5px 20px;
  border-radius: 18px;
  text-transform: capitalize;
}

/* end contact section */

    /* start of the footer*/
input:focus{
  outline:  none !important;
}

footer{
  margin-top: 60px;
}

footer div.inner-footer{
  max-width: 600px;
}
footer div.subscribe input,
section input{
  background: var(--bg-color-transparent-white) !important;
  color: var(--text-color);
  border: none;
  padding: 8px 4px;
  padding-left: 8px;
  border-radius: 25px;
  border: transparent 1px solid;
  
}

footer div.subscribe input:focus ,
 input:focus{
  border: var(--main-color) 1px solid;
}
footer div.subscribe input::placeholder{
  /* padding-left: 5px; */
  font-size: 15px;
}

footer div.subscribe button{
  height: 90%;
  background: var(--bg-dark);
  top: 5%;
  right: 3px;
  border-radius: 25px;
  padding: 0px 12px;
  color: var(--text-colort);
 
}
footer div.social a{
  padding: 4px;
  border-radius: 50%;
  width: 40px;
  height: 40px; 
   background-color: var(--bg-color-transparent-white);
   display: flex;
   align-items: center;
   justify-content: center;
}
footer div.social i{
  font-size: 20px;
 
  color: var(--text-color);

}

footer div.copyright{
  
}
footer div.copyright strong{
  font-size: 15px !important;
  font-weight: 300;
  color: var(--text-color);
}

.banner{
  font-size: 13px;
  /* border: red 1px solid; */
  left: 50%;
  transform: translateX(-50%);
}
.invalid{
  color: red;
}
.valid{
  color: rgb(0, 109, 0);
}





/* start of the media query */

 @media  screen and (min-width:762px) {

  input,textarea  {
    padding-left: 40px !important;
  }

  /* nav  */
  nav i.fa{
    display: none;
  }

  nav ul {
  
      display: flex;
      flex-direction: row;
      position: static !important;
      
      background-color: transparent !important;
      /* backdrop-filter: blur(15px); */
 
      transform: none;
    
   
    }
  
    nav ul li {
      opacity: 1 !important;
    
    }
  
  

  /* end of the nav */

  div.card1 {
      
      grid-template-columns: repeat(4, 1fr);
      /* grid-template-rows: repeat(3,200px); */
  
    }
  div.location {

    grid-column: 1/3;
  }
  div.find{
    grid-row: 1/2;
    grid-column: 3/-1;
  }
  div.next-days{
    grid-column: 3/-1;
    grid-row: 2/ 3;
    overflow-x: hidden;
  }
 
  
    div.condition {
      grid-column: 1/3;
      grid-row: 2/3;
   flex-direction: column;
      
          /* display: flex;
       
          justify-content: flex-start;
          align-items: flex-start; */
        
    }
  
    div.times {
      grid-column: 1/-1;
    }

  div.condition p{
    font-size: 85px !important;
    font-weight: 400;
    text-align: start;
  }
  /* div.condition>div{
    width: 100% !important  ;
    display: flex;
    align-items: center;
    width: 80px;
  } */

  div.condition img{
width: auto;
  }
  
 }





















 /* dash */

 /* 
 div.rotary {
   position: relative;
   transform: translate(50%, 270px);

 }

 div.rotary div.time {

   height: fit-content;
   display: flex;

   width: fit-content;

   font-weight: 300;
   font-size: 12px;
   transform-origin: center bottom;
   position: absolute;





 }

 div.rotary div.time>div {
   display: flex;
   gap: 15px;
   flex-direction: row;
   align-items: center;
   width: 100px;
   height: 30px;

   color: #222222;
 }

 div.rotary div.time * {
   height: fit-content;

 }

 div.rotary div.time div.img {
   width: 35px;
 }

 div.rotary div.time div.img img {
   width: 100%;
 }
 */